@media screen and (max-width: 770px) {
  .container__card-content {
    flex-direction: column;
  }

  .card__photo > img {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }

  .card__title > h1 {
    text-align: center;
  }
}
